/* body {
background-color: #fff;
color: #2a2a2a;
} */

/* 
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9fd;
  }
   */
   
  /* .box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: tomato;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
   */
    /*  Задаём значения перехода  */
    /* transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
  }
   */
  /* При ховере меняем значения анимируемых свойств */
  /* .box:hover {
    background-color: teal;
    transform: rotate(180deg);
  } */

  /* body {
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  input {
    padding: 8px;
    font-family: inherit;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  } */
/* 
  body {
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  input {
    padding: 8px;
    font-family: inherit;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  
   */
  
   /* body {
    font-family: sans-serif;
    line-height: 1.5;
  } */
/* 
  body {
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  input, textarea {
    padding: 8px;
    font-family: inherit;
    font-size: inherit;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  
  textarea {
    resize: none;
  } */
/* 
  body {
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  label {
    display: block;
    margin-bottom: 4px;
  }
  
  select {
    font-size: 16px;
  } */



  body {
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  label {
    display: block;
    margin-bottom: 4px;
  }
  
  input {
    padding: 8px;
    font-size: 16px;
  }
